*
	padding: 0
	margin: 0
	box-sizing: border-box

body
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: 100vw
	height: 100vh

input, select
	min-width: 4rem

.input-set
	padding: 0 1rem
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	gap: 2rem
	&.wide
		justify-content: space-between

.fraction
	input
		max-width: 1rem
	&.mixed
		display: flex
		align-items: center
		justify-content: center
		gap: 0.5rem

.menu
	display: flex
	flex-direction: column
	width: clamp(300px,60vw,600px)
	padding: 1rem
	background-color: rgb(233, 233, 233)
	box-shadow: 1px 3px 3px rgb(200, 200, 200)
	h1
		text-align: center

	.input-set
		margin: 0.3rem 0